.first-r .first-p {
    width: 50%;
    float: left;
}
.first-r .second-p {
    width: 50%;
    float: right;
}

.second-r {
    clear:both;
}

#kriptogram {
    display: none;
}

td {
    text-align: center;
}
/*   Dodatno - uncomment and discover the future.
.third-p:hover #kriptogram {
    display: block;
}   */
/*
Absolute divs are taken out of the flow of the document so 
the containing div 
does not have any content except for the padding. 
Give #eno-ninjo a height to solve this.*/
#eno-ninjo{
    background-color: grey;
    position: relative;
    width: 50%;
    height: 200px
}

#eno-ninjo img{
    position: absolute;
    top: 30px;
    left: 50px;
    border:1px solid #021a40;
}

#zero-ninjo img {
    position: absolute;
    top: 0px;
    left: 0px;
    
}

div p {
    border-style: dotted;
    border-width: 10px;
}

/*from top, from left, blur*/
table {
    box-shadow: 10px 10px 20px dimgrey;
}

.edit-buttons {
    background-color: #4CAF50; /* Green */
}

button {
    border-width: 3em;
}

img {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
}

.nav-bar .btn{
    background-color: red !important;
}

.zero-r .panel-info {
    clear: both;
}

h1 {
    margin-top: 50px;
    clear: both;
}

.nav-bar {
    clear: both;
}

#zero-ninjo img {
    margin: 0 auto;
    margin-top: 0px;
}





